@charset "UTF-8";
/*Reset*/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote { margin: 0; padding: 0; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
ul li {list-style:none;}
a {text-decoration:none;}
img {border:0;}
body {
font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 나눔고딕, NanumGothic, 돋움, dotum, sans-serif;
} 

/* 광고 */
#topbar {
	margin: 0 auto;
	background-color: #675E55;
	height: 175px;
	width: 960px;
	font-size: 13px;
	line-height: 18px;
}

#topbar1 {
	margin-left: 20px;
}

#topbar1, #topbar2, #topbar3 {
	float: left;
}

#txt1, #txt2, #txt3 {
	margin-left: 10px;
	float: left;
	color: #FFFEFF;
}

#txt3Title {
	padding-left: 10px;
	padding-right: 10px;
}

.imgTopBar {
	width: 60px;
	height: 60px;
}

#txt1, #txt2, #txt3, .imgTopBar {
	margin-top: 25px;
}

.strColor {
	color: #FFBB00;
}

#close {
	float: right;
	color: #FFFEFF;
	margin: 10px;
}

#popbtnColor, #popbtnColor2 {
	color:black;
}

/* 네비게이션 부분 */
#navigation {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
}

#navBtn {
	float: left;
}

.navbar-inner {
	padding: 10px;
}

.brand {
	margin-right: 20px;
}

.dropdown {
	margin-right: 20px;
}


#logoName {
	color: white;
}

/* 상세메뉴 부분 */
#total_menu{
	width:960px;
	height: 185px;
	margin:0 auto;
	background-color:#FED505;
	display:none;
}


#total_menu div{
	float:left;
	padding-left: 115px;
}


#total_menu ul{
	list-style: none;
}

#total_menu li a{
	color: white;  
}

#total_close{
	position: relative;
	top: 145px;
	left: 30px;
	font-weight: bold;
	font-size: 17px;
}


.menu_title{
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 10px;
}

/* 이미지 배너 */
#myCarousel {
	width:940px;
	margin: 20px auto;
}

.carousel-control {
	border: 0px;
	background: none;
	top : 50%;
}

/* 사이드 메뉴 부분 */
#side {
	width:960px;
	margin: 0 auto;
}

#sideLeft {
	padding-left : 10px;
}

#sideRight {
	padding-left : 40px;
}


#topBtn > a {
	margin : 0px 10px 10px 10px;
}
#BottomBtn > a {
	margin : 10px 10px 10px 10px;
}

/* 메인 공지사항 표시 부분 */
#noticeNo {
	width : 20%;
}
#noticeTitle {
	width : 80%;
}

/* 푸터 메뉴부분 */
#footcont {
	background-color: #F5F5F5;
}

#footmemu {
	width:960px;
	margin: 0 auto;
	
}

#memu1, #memu2, #memu3, #memu4 {
	float: left;
	margin: 10px 60px;
}

/* 푸터 부분 */
.footer{
	width:960px;
	margin: 0 auto;
}



/*로그인 창 */
#loginForm{
	width : 960px;
	margin: 0 auto;
}



/* CEO 인사말 */
#dbody{
		width:960px;
		height:600px;
		margin: 0 auto;
		margin-top: 30px;
}
#sidebar{
	width:135px;
	float:left;
}
#container{
	width:710px;
	float:left;
	margin-left: 35px;
}

#imgCeo{
	margin-left:2px;	
	margin-top: 50px;	
}

#imgD{
	width:200px;
	float:left;
}
	
#hello{
		margin-left: 10px;
		width:500px;
		float:left;
		color:grey;
}
.h1_1{
	color:blue;
	
}
	
#h1_0{
	color:navy;
}

#h1_2{
	color:red;
}
	
.clear {
	clear:both;
}
	
#names {
	margin-left:310px;
}	

/* 위치 */
#testMap {
	float : left;
	border:1px solid #000;
	margin-bottom : 30px;
}

#positionHead{
	margin-left: 40px;
}

#transport {
	color:red;
	font-size: 15px;
	
}

/* 컨테이너 제목*/
#transferTitle {
	text-align: center;
}

/* 보안 안내 */
#secuInfo{
		width:960px;
		margin: 0 auto;
		margin-top: 30px;
}	

.step{
	padding:10px;
}
	
table{
	text-align: center;
}
	
#tableSize1 {
	width:100px;
}

#tableSize2 {
	width:300px;
}

.numcolor {
	color : #0391B1;
	font-size: 18px;
}

#secuRight {
	width:710px;
	margin-left: 35px;
	float:left;
}
	
/* 인재상 */	
	.talentedColor {
		color: #FFBB00;
	}
	
	#talent{
		margin-left:50px;
		width: 545px;
		margin-bottom:50px;
	}
	
/* 연혁 */

#history{
	width : 710px;
	height : 730px;
	float:left;
	margin-left: 35px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}	

#line {
	position: relative;
	left: 355px;
	bottom: 580px;
	display: block;
}

.historyLeft {
	position: relative;
	left: 160px;
}

.historyRight {
	position: relative;
	left: 395px;
}

#historyTitle {
	color: #FFBB00;
	font-weight: bold;
	text-align: center;
	
}

#subTitle {
	font-size: 24.5px;
	color: gray;
	text-align: center;	
}

/* 로그인 화면 */
#loginDiv {
	width: 870px;
	margin: auto;
	margin-top: 50px;
}
.imgBox {
	margin : 20px 0px;	
}
#loginBox {
	float: left;
	width: 450px;
	height: 150px;
	border: 1px solid #C1C3C5;
}

#confirm {
	float: left;
	margin-left : 10px;
	width: 394px;
	height: 150px;
	border: 1px solid #C1C3C5;
}

.inlineblock{
	display: inline-block;
	margin-left: 30px;
	width : 100px;
}

#loginId {
	margin-top:15px;
}

#loginBtn {
	position: relative;
	top: -23px;
	padding: 20px;
}

#joinBtn {
	margin-left: 360px;
	position: relative;
	top : -20px;
}

#confirmBox {
	margin-left : 115px;
	margin-top : 45px;
}

#confirmInfo {
	margin-left : 85px;
}

/* 계좌 이체 서비스 및 예금 출금 */
#unstyled > li {
		list-style: disc;
}

#transferInfo {
	margin: 20px 0px;
}


#transfer {
	margin-left: 150px;
}

/* 계좌생성 및 약관 */
.registInfo {
	width: 650px;
	resize: none;
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
}

.checked {
	margin-left: 500px;
}

#registForm {
	margin-left: 135px;
	margin-bottom: 30px;
}	

/* 회원가입 */
#joinForm label[for] {
	width: 120px;
	display: inline-block;
}

#joinForm label {
	font-size: 14px;
	padding: 5px 0;
}

#joinForm input {
	border: 1px solid #ccc;
	padding: 2px 5px;
	vertical-align: middle;
}

/** 회원가입 입력값이 적절하지 않은 입력 요소에 대한 CSS 정의 */
#joinForm input.error, #signupForm textarea.error {
	border: 1px dashed red;
}

/** 에러메시지가 표시되는 동적 요소에 대한 CSS 정의 */
#joinForm label.error {
	color: red;
	width: auto;
	font-size: 12px;
	padding: 0px;
}

/* 회원정보 수정 */
#updateForm label[for] {
	width: 120px;
	display: inline-block;
}

#updateForm label {
	font-size: 14px;
	padding: 5px 0;
}

#updateForm input {
	border: 1px solid #ccc;
	padding: 2px 5px;
	vertical-align: middle;
}

/** 입력값이 적절하지 않은 입력 요소에 대한 CSS 정의 */
#updateForm input.error, #signupForm textarea.error {
	border: 1px dashed red;
}

/** 에러메시지가 표시되는 동적 요소에 대한 CSS 정의 */
#updateForm label.error {
	color: red;
	width: auto;
	font-size: 12px;
	padding: 0px;
}

/* 게시판 리스트 */
#textcenter {
	text-align: center;
}

#boardInsert {
	float: right;
}

#prependedInput {
	height: 30px;
}
.boardlistfont {
	font-size : 13px;
}


.boardlistTitle a {
	font-size : 13px;
}
#boardNo {
	width: 7%;
}

#boardTitle {
	width: 45%;
	text-align: center;
}

#boardName {
	width: 20%;

}

#boardDate {
	width: 18%;
	text-align: center;
}

#boardCount {
	width: 10%;
}


#searchno {
	width: 115px;
	margin-right: 25px;
	margin-left: 100px;
}

/* 거래 상세 내역 모달 */
	
.modalfont {
	font-size : 20px;
	font-weight: bold;	
}

#modalText {
	text-align: right;
}

/* 게시판 상세보기 */	
#sideboard {
	width: 150px;
}
	
#boardContent {
	background-color: white;
	border: none;
}

/* 게시판 댓글 */
#commentWrite {
	background-color: #F5F5F5;
	padding-top: 10px;
}

.commentTime {
	font-size: 13px;
	width : 110px;
}

.commentInsert {
	font-size: 13px;
	width : 440px;
	background-color: initial;
	border: 0px;
}
	
.commentUserName {
	width : 100px;
	font-size: 13px;
}
	
/* 게시판 글쓰기 */
#boardWriteForm{margin: 30px 0;}

/* 거래내역 테이블  */
#accountTable{width:820px;} 